* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	font-size: 100%;
	list-style-type: none;
	font-family: consolas, monospace;
	background-color: #ddd;
}

.all {
	width: 720px;
	margin: 30px auto;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		  -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				 user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* =========================================== */

h1 {
	font-size: 32px;
	text-align: center;
	margin: 30px 0;
}

/* =========================================== */

.menu {
	padding: 40px;
	margin-bottom: 50px;
	background-color: #333;
	position: relative;
}

.menu-box {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	font-style: bold;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
	min-height: 40px;
	position: absolute;
}

.menu-label {
	width: 100px;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #444;
}

.menu-input {
	width: 300px;
	border: none;
	outline: none;
	padding: 10px;
	min-height: 40px;
	position: absolute;
	top: 50%;
	left: 120px;
	transform: translateY(-50%);
}

.menu-addBtn {
	top: 50%;
	left: 420px;
	transform: translateY(-50%);
	background-color: #090;
	width: 40px;
	max-height: 20px;
	font-size: 24px;
	line-height: 20px;
}

.menu-addBtn:hover {
	background-color: #070;
	cursor: pointer;
}

.menu-addBtn:active { background-color: #0f0; }

.menu-eraseBtn {
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	background-color: #c00;
}

.menu-eraseBtn:hover{
	background-color: #a00;
	cursor: pointer;
}

.menu-eraseBtn:active{ background-color: #f00; }

/* =========================================== */

.list {
	list-style-type: none;
}

.item {
	width: 690px;
	height: 40px;
	margin: 0 auto 20px auto;
	position: relative;
}

.item-box {
	background-color: #ccc;
	width: 640px;
	height: 40px;
}

.item-box:hover {
	box-shadow: 0 0 2px #070;
	cursor: pointer;
}

.item-checkbox {
	position: absolute;
	top: 8px;
	left: 10px;
	height: 24px;
	width: 24px;
	background-color: #fff;
}

.item-checkmark {
	position: absolute;
	top: 4px;
	left: 9px;
	width: 7px;
	height: 14px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.item-text {
	line-height: 40px;
	position: absolute;
	top: 0px;
	left: 45px;
	font-size: 18px;
}

.item-eraseBtn {
	position: absolute;
	top: 8px;
	right: 0px;
	height: 24px;
	width: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 22px;
	font-style: bold;
	color: #fff;
	background-color: #c00;
	text-shadow: 1px 1px 0 #000;
}

.item-eraseBtn:hover {
	background-color: #a00;
	cursor: pointer;
}
.item-eraseBtn:active{ background-color: #f00; }

